/******************** DashBoard Area ********************/
.container-dashboard {
  background: #F4F7FC;
}

.container-dash {
  width: 98%;
  margin: 0 auto;
}

.container-box {
  background: white;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px;
}